body {
    font-family: sans-serif;
    background-color: salmon;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    
  }
  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: center;
    
  }
  
  .title {
    font-size: 3rem;
    color: brown;
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }